@import "fonts";
@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #222222;
  --grey: #686F7B;
  --light-grey: #A3A3A3;
  --primary: #F96100;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font: 400 16px/1.5 ZonaPro;
  color: $dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #f96100;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  max-width: calc(1340px + 32px);
  padding: 0 16px;
  margin: 0 auto;

  @media(max-width: 980px) {
    max-width: none;
  }
}

input, select, textarea {
  width: 100%;
  padding: 20px 0;
  border: 0;
  border-bottom: 1px solid var(--dark, $dark);
  border-radius: 0;
  color: var(--dark, $dark);
  background-color: transparent;
  font: 400 14px/1 ZonaPro;
  &::placeholder {
    color: var(--dark, $dark);
  }
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  height: 140px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border: none;
  border-radius: 0;
  font: 600 14px/1 ZonaPro;
  text-transform: uppercase;
  @include transition;
  @media (max-width: 980px) {
    font-size: 12px;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
  }
  &-circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid var(--dark, $dark);
    background-color: var(--white, $white);
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 980px) {
      width: 160px;
      height: 160px;
    }
  }
  &-orange {
    border: 1px solid var(--primary, $primary);
    color: var(--white, $white);
    background-color: var(--primary, $primary);
  }
}

h1, h2 {
  font: 700 96px/1 Wadik;
  @media (max-width: 1400px) {
    font-size: 72px;
  }
  @media (max-width: 1200px) {
    font-size: 48px;
  }
  @media (max-width: 980px) {
    font-size: 36px;
  }
}

h3 {
  font: 700 44px/1 Wadik;
}

h4 {
  font: 700 24px/1 Wadik;
}

h5, h6 {
  font-family: Wadik;
  font-weight: 700;
}