.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: calc(30 * var(--width-multiplier)) 0;
  background-color: var(--white, $white);
  z-index: 9;
  transition: background-color 0.3s ease-in-out;
  @media (max-width: 1024px) {
    padding: calc(20 * var(--width-multiplier)) 0;
  }
  @media (max-width: 767px) {
    padding: calc(16 * var(--width-multiplier)) 0;
  }
  &.primary {
    color: var(--white, $white);
    background-color: var(--dark, $dark);
    .header__container {
      animation: down 1s cubic-bezier(.39,.575,.565,1) forwards 6s;
    }
  }
  &.light {
    color: var(--white, $white);
    background-color: transparent;
    .header__container {
      animation: down 1s cubic-bezier(.39,.575,.565,1) forwards;
    }
    &.scroll {
      background-color: var(--dark, $dark);
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(20 * var(--width-multiplier));
    font-size: calc(14 * var(--width-multiplier));
    font-weight: 700;
  }
  &__logo {
    width: calc(135 * var(--width-multiplier));
    height: calc(22 * var(--width-multiplier));
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media(max-width: 767px) {
      width: calc(87 * var(--width-multiplier));
      height: calc(15 * var(--width-multiplier));
    }
  }
  &__box {
    display: flex;
    align-items: center;
    gap: calc(24 * var(--width-multiplier));
    font-weight: 500;
    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--primary, $primary);
      }
    }
    @media(max-width: 767px) {
      display: none;
    }
  }
  &__address, &__mail {
    @media(max-width: 1024px) {
      display: none;
    }
  }
  &__phone {
    cursor: pointer;
    width: calc(110 * var(--width-multiplier));
    .phone-wr {
      position: relative;
      display: block;
      padding-bottom: 0;
      &::before, &::after {
        background-color: rgba(192, 192, 192, 1);
      }
    }
  }
  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white, $white);
    border-radius: calc(24 * var(--width-multiplier));
    pointer-events: none;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: calc(5 * var(--width-multiplier));
      right: 0;
      width: calc(12 * var(--width-multiplier));
      height: calc(12 * var(--width-multiplier));
      border-radius: 24px;
      background-color: var(--primary, $primary);
      z-index: -1;
      transition: width 0.3s ease, height 0.3s ease;
    }
    &.open {
      pointer-events: auto;
      .header__menu {
        opacity: 1;
        transform: scale(1);
      }
      &::before {
        width: calc(287 * var(--width-multiplier));
        height: 100%;

      }
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: calc(35 * var(--width-multiplier));
    min-width: calc(287 * var(--width-multiplier));
    max-width: calc(287 * var(--width-multiplier));
    padding: calc(50 * var(--width-multiplier));
    line-height: 1;
    opacity: 0;
    text-transform: lowercase;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: 
      opacity 0.2s ease,
      right 0.3s ease,
      transform 0.3s ease;
    a:not(.dropdown-toggle) {
      transition: color 0.3s ease-out;
      &:hover {
        color: var(--white, $white);
      }
    }
    .button-dropdown {
      &.open {
        .dropdown-toggle {
          span {
            transform: rotate(180deg);
          }
        }
      }
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: calc(8 * var(--width-multiplier));
      span {
        transition: transform 0.3s ease-out;
      }
    }
    .dropdown-menu {
      position: relative;
      top: calc(16 * var(--width-multiplier));
      display: flex;
      flex-direction: column;
      gap: calc(24 * var(--width-multiplier));
      max-height: 0;
      color: rgba($color: #FFFFFF, $alpha: 0.6);
      overflow: hidden;
      transition: max-height 0.3s ease-out, top 0.3s ease-out;
      @media(max-width: 767px) {
        top: calc(14 * var(--width-multiplier));
        gap: calc(16 * var(--width-multiplier));
      }
    }
    @media(max-width: 767px) {
      gap: calc(30 * var(--width-multiplier));
      padding: calc(34 * var(--width-multiplier));
    }
  }
  &__feedback {
    transition: color 0.3s ease-out;
    &:hover {
      cursor: pointer;
      color: var(--primary, $primary);
    }
  }
  &__burger {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(12 * var(--width-multiplier));
    padding-right: calc(24 * var(--width-multiplier));
    transition: color 0.3s ease-out;
    span {
      position: relative;
      display: block;
      z-index: 1;
      pointer-events: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      border-radius: calc(50 * var(--width-multiplier));
      background-color: var(--primary, $primary);
      transition: all 0.3s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: var(--primary, $primary);
    }
  }
}